################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/STRHM/packages/StackExchange.Redis.1.2.6
/STRHM/STRHM/obj/Debug
/STRHM/.vs/STRHM/v15
