################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/STRHM/packages/StackExchange.Redis.1.2.6
